.xml
*.pyd
*.pyc
*.png
*.ipynblwpen6
*.wav
*.toc
*.sublime-project
*.sublime-workspace
AudioAnalyser01/build/gui_SignalLoadWidget/warngui_SignalLoadWidget.txt
.idea/workspace.xml
Design/hqt-master/.idea/
